{% extends 'base.html' %}
{% load static %}

{% block title %} Aayu-Mitra.com {% endblock %}


{% block meta-tags %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
{% endblock %}

{% block css %}
<style>
  /*internal css here*/

  #header-wrapper{
    padding: 35px 0px 0px 0px;
  }


  h1{
    color : blue;
  }

  b{
    display: block;
  }

  .login_text{
    font-size:40px;
  }

  /*Main Data-Table css starts here*/
  .container {
  width: 1024px;
  padding: 2em;
}

.bold-blue {
  font-weight: bold;
  color: #0277BD;
}
 /*Main Data-Table Ends here*/

  /*Search box css code is here*/
  .form-group{
         display: inline-block;
         width : 80%;
  }
    /*Search boc css ends here*/
  

 /*.modal{
  width: 50%;
  margin: auto;
 }*/

  /*sucessful message button css code*/
  .message{
    background-color :  rgb(102, 255, 102);
    font-weight: 777;
    text-decoration: white underline;
  }

  .container{
    padding: 0px 0px 20px 0px;
    width: 98%;
  }

  /*form ne nanu , saru  ane side ma aavi jay tevu banavava mate no code chhe aa*/

  .g-3{
          display: inline-block;
          margin-right:3px;
  }
  .main{
    display: flex;
    flex-wrap: wrap;

  }

  .needs-validation{
    display: inline-table;
    width : 30%;
    margin : 50px 100px 0px 3px;
  }

  .form-control{
    border: 1px solid slategrey;
  }
  
  .form-group{
    margin : 2px 0px 2px 0px;
  }

  /*table ma active ane deactive case mate ni CSS aahi chhe*/

  tr{
    border: solid green;
  }

  /*Appointment Form CSS from Consult_view.html */


  /*Appointment Form CSS Finish Here */

</style>
{% endblock %}


<!-- main body starts from here -->
{% block body %}


 <!-- code for displaying messages -->
<center>{% for message in messages  %}            
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show message" id="disappears" role="alert">
           Message : <strong class="message">{{ message }} </strong>

       </div>
       
  {% endfor %}
</center>

  

  <!-- aa code jyare doctor potana dashboard ma login thay jay pachhi login credential jata rahe ane table aavi jay a na mate chhe-->
 <!-- {% if doctor is None %}

        <center><b class="login_text">Login Here</b></center>
 <div tabindex="-1"  aria-hidden="true">
    <div class="dialog">
      <div class="content">

         <div class="body">

        <form action="/d_dashboard" method="post">
            {% csrf_token %}
             <div class="mb-3">
               <input type="text" class="form-control" name="d_email_id" id="input" placeholder="Doctor Email_Id">
             </div>

             <div class="form-floating">
              <input type="password" class="form-control" id="input" name="d_password" placeholder="Password">
             </div>
      
         <div class="footer">
           <button type="submit" class="btn btn-primary" id="login-form-button">Login</button>
         </div>

        </form>
      </div>
    </div>
    
   </div>
</div>
  -->


 <!-- {% else %} -->
<!-- this is main body content with table -->
<div class="container">


    <!-- aa code table mathi exel ma data export karva mate chhe -->
<!-- <div id="toolbar">
    <select class="form-control">
        <option value="">Export Basic</option>
        <option value="all">Export All</option>
        <option value="selected">Export Selected</option>
    </select>
</div> -->
<!-- exel valo code aahi puro thay chhe -->

   
    
 <b> Todays Record </b>
<table id="table" class="table table-striped table-hover"
       data-toggle="table"
       data-search="true"
       data-filter-control="true" 
       data-show-export="true"
       data-click-to-select="true"
       data-toolbar="#toolbar">
  <thead>
    <tr>
      <th data-field="state" data-checkbox="true">No</th>
      <th data-field="prenom" data-filter-control="input" data-sortable="true">Name</th>
      <th data-field="examen" data-filter-control="select" data-sortable="true">Email</th>
      <th data-field="note" data-sortable="true">Age</th>
      <th data-field="note" data-sortable="true">Gender</th>
      <th data-field="note" data-sortable="true">Phone No</th>
      <th data-field="note" data-sortable="true">Username</th>
      <th data-field="note" data-sortable="true">Code</th>
      <th data-field="note" data-sortable="true">Emergency</th>
      <th data-field="date" data-filter-control="select" data-sortable="true">Date</th>
      <th data-field="note" data-sortable="true">Confirm</th>
    </tr>
  </thead>
  <tbody>

      
    {% for i in record %}
    <tr>
      
      <td class="bs-checkbox "><input data-index="0" name="btSelectItem" type="checkbox">{{i.id}}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.email_id }}</td>
      <td>{{ i.age }}</td>
      <td>{{ i.gender }}</td>
      <td>{{ i.phone_number }}</td>
      <td>{{ i.username }}</td>
      <td>{{ i.confirmation_code }}</td>
      <td>{{ i.emergency }}</td>
      <td>{{ i.dateTime|slice:"0:10" }} / {{ i.dateTime|slice:"11:16" }}</td>
      {% if i.confirm == False %}
      <td>
      <!--code for appointment confirmation == one type of modal-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" data-bs-whatever="@mdo">
  Confirm{{i.id}}
</button>

<!--Confirmation Modal Code-->
<div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm This Appointment</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
          <span aria-bs-hidden="true">&times;</span>
        </button>
      </div>

      <!-- modal body starts from here -->
      <div class="modal-body">
        
          <form action="/case_confirm/{{i.id}}{{i.d_id}}" method="post">
            {% csrf_token %}
            <div class="form-group">
    <label for="phone_number" class="form-label">Enter Confirmation Code</label>
    <input type="tel" class="form-control" id="OTP" name="OTP" maxlength="13" placeholder="OTP from Email/Message" required>
    <div class="invalid-feedback">
      Please provide a valid Phone Number.
    </div>
  </div>
  <!-- modal body ends here -->

        <button type="submit" class="btn btn-primary" id="case_confirmation_announcement">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </form>
</div>






      </div>
    </div>
  </div>

   </td>      <!--table data ends here -->
    {% else %}
    <td> <span style="color:green"> Confirmed </span></td>
    {% endif %}
    
     </tr> <!--table row ends here -->
     {% endfor %}
    

    

  </tbody>

</table>

<!-- aa code record ma judi judi rite search karva mate chhe -->
    <form method="post" action="/Appointment_record/{{doctor.0.id}}" class="needs-validation" novalidate>
     {% csrf_token %}

<h1>Search Records by : </h1>

     <div class="form-group">
       <input type="text" class="form-control" id="patient_name" name="name" maxlength="30" placeholder="Patients Name">
     </div>

    <div class="form-group">
       <input type="text" class="form-control" id="patient_name" name="email" maxlength="30" placeholder="Email">
     </div>

    <div class="form-group">
     <b>Enter Date : </b>
     <input type="date" class="form-control" id="patient_name" name="date" maxlength="30" placeholder="date of Appointment">
     </div>

     <div class="form-group">
    <b>Patient AGE : </b>
    <input type="Number" class="form-control" id="user_phone_number" name="age" maxlength="13" placeholder="+91 xx--xx">
    </div>

    <div class="form-group">
    <b>Patient Phone Number :</b>
    <input type="tel" class="form-control" id="user_phone_number" name="phone_number" maxlength="13" placeholder="+91 xx--xx">
    </div>

    <div class="form-group">
    <b>Confirmation Code : </b>
    <input type="tel" class="form-control" id="user_phone_number" name="confirmation_code" maxlength="13" placeholder="+91 xx--xx">
    </div>

  
  <div class="row-3">
    <span>Find Full Records Here : </span><button type="submit" class="btn btn-primary form-group" id="appointment_button">Find</button>
  </div>

  </form>



   <!-- consolt button form code -->
  <form
    method="post"
    action="/d_dashboard/{{doctor.0.id}}"
    class="needs-validation"
    novalidate
  >
     {% csrf_token %}

    <div
      class="container-fluid bg-light bg-gradient border rounded-0 border-dark"
    >
      <h1>Appointment Form</h1>

      <hr />
      <div
        class="form-check"
        style="
          margin: 3px;
          color: var(--bs-red);
          font-weight: bold;
          text-decoration: underline;
          box-shadow: inset 0px 0px var(--bs-gray-dark);
          border-color: var(--bs-red);
          margin-bottom: 8px;
          margin-top: -7px;
        "
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="emergency"
          name="emergency"
        /><label
          class="form-check-label"
          style="font-weight: bold; border-color: rgb(217, 27, 45)"
          >Emergency?   <a href="#" data-toggle="tooltip" title="Emergency charge will be applied.">i</a></label
        >
      </div>
      
        <div class="row">
          <div class="col-md-6">
            <div id="successfail-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6" id="message-1">
            <div class="form-group mb-3">
              <div class="input-group">
                <span class="input-group-text"
                  ><i class="fa fa-user-o"></i></span
                ><input
                  class="form-control"
                  type="text"
                  id="patient_name"
                  name="patient_name"
                  required=""
                  placeholder="Patients Name"
                />
              </div>
            </div>

            <select
              class="form-select"
              id="Patient_gender"
              name="patient_gender"
              required=""
              style="margin-top: -6px; margin-bottom: 12px"
            >
              <option value="Male" selected="">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option></select
            >

            <input
              class="form-control"
              type="number"
              style="
                padding-bottom: -2px;
                margin: 2px;
                padding-top: -3px;
                height: 31px;
                margin-top: -2px;
                margin-bottom: 9px;
              "
              name="patient_age"
              placeholder="Patient Age"
              min="1" max="130"
            />

            <div class="row">
              <div
                class="col-12 col-sm-6 col-md-12 col-lg-6"
                style="padding-bottom: -29px"
              >
                <div class="form-group mb-3">
                  <div class="input-group">
                    <span class="input-group-text"
                      ><i class="fa fa-phone"></i></span
                    >
                    <input
                      class="form-control"
                      type="tel"
                      id="user_phone_number"
                      name="phone_number"
                      maxlength="10"
                      placeholder="Patient Mobile Number"
                    />
                  </div>
                </div>

                <div class="form-group mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="row">
                <div class="col">
                  <button
                    class="btn btn-primary d-block w-100"
                    type="submit"
                    style="
                      padding-top: 6px;
                      padding-bottom: 6px;
                      margin: 0px;
                      margin-bottom: 9px;
                      margin-top: -17px;
                    "
                  >Book&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
                  <button
                    class="btn btn-primary d-block w-100"
                    type="reset"
                    style="padding-top: -2px; padding-bottom: 6px"
                  >
                    <i class="fa fa-undo"></i> Reset
                  </button>
                </div>
              </div>
            </div>
            <hr class="d-flex d-md-none" />
          </div>
        </div>
    </div>

  </form>













  </div> <!-- container div -->




<!-- {% endif %} -->


<!-- body finish here -->
{% endblock %}



<!-- Optional JavaScript; choose one of the two! -->

    
      <!-- Option 1: Bootstrap Bundle with Popper -->
     

     {% block js %}
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

     <script>

  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()

    
     </script>

     <script>
       function case_type_converter(modal)
          var confirm = modal.
     </script>


<!-- CODE TO TURN TEXT INTO SPEECH -->
     <script>
     // Initialize new SpeechSynthesisUtterance object

  let speech = new SpeechSynthesisUtterance();

// Set Speech Language
speech.lang = "hi";

document.querySelector("#case_confirmation_announcement").addEventListener("click", () => {


  // Set the text property with the value of the textarea
  speech.text = "Appointment Confirmed from AayuMitra";

  // Start Speaking
  window.speechSynthesis.speak(speech);
});

    </script>

     
     {% endblock %}


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->