{% extends 'base.html' %}

{% block css %}
<style>
/*internal css here*/
</style>
{% endblock %}



{% block body %}

 {% load static %} <!--its compulsory to add this line to every page -->

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-medium imp-medium">
								<div id="content">

									<!-- Content -->
										<article>

											<section>
											<h3>Welcome to Aayu-Mitra.com</h3>
											<p>We are here to help People in their Medical Treatments.
											aayu-mitra will help you in your online doctor consultation.
										    You can find your family doctor here. We are appriciating New Practicers to our Platform.</p>
											<footer>
												<a href="/user_sign_up.html" class="button icon solid fa-info-circle">Sign Up Now</a>
											</footer>
										</section>

											<h3>How can You Help US for free</h3>
											<p>We always appriciates New Doctors to our Platform.
												You just have to share our Work(Aayu-Mitra Site) to your family doctor or any other doctor you know. And tell theme to join our site. And You will get rewards form us as you helped us. for more go to <a href="">Here</a> </p>

										</article>

								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}